/*Badge Trust Styles*/
.badge-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-container > img {
  width: 8rem;
  border-radius: 50%;

}


/*-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

.popup-overlay p,
.popup-overlay h4,
.popup-overlay h5,
.popup-overlay li,
.popup-overlay span,
.popup-overlay button,
.popup-overlay a,
.popup-overlay label{
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}


/*-------------------*/


/* Ajoutez ce CSS dans votre fichier de styles */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-overlay .spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #bebebe;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}








/*-------------------*/



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #f5f4f4;
  padding: 2rem;
  width: 760px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
}

.popup-content.reviews{
  overflow-y: scroll;
}

.close-popup {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  color: white;
  z-index: 2;
  padding: 0.5rem .85rem;
  font-weight: 200;
}

.close-popup:hover {
  transform: scale(1.05);
}



.popup-header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  position: relative;
  background-color: white;
  padding: 1rem ;
  cursor: inherit;
}

.popup-header .logo {
  width: 130px;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

.popup-header a{
  font-size: .9rem;
}

.popup-header button{
  background: #0073ff;
  margin-left: 2rem;
  cursor: pointer;
  font-size: .9rem;
}

.popup-header span{
  font-size: .9rem;
  color: #111;
  cursor: pointer;
}

.popup-breadcrumb{
  padding: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
}

.breadcrumb-item{
  font-size: .9rem;
  display: flex;
  align-items: center;
}

.fa-home-alt:before, .fa-home-lg-alt:before, .fa-home:before, .fa-house:before {
    content: "\f015";
}

.breadcrumb-item i.breadcrumb-icon {
  color: #a09e9e;
  font-size: 0.85rem;
  padding: 3px 4px;
}

.breadcrumb-item:not(:last-child)+.breadcrumb-item:before {
  color: #a09e9e;
  content: "â¯";
  font-size: 10px;
  margin: 0 6px;
  padding: 3px 5.5px;
}




.popup-intro{
  display: flex;
  background-color: white;
  padding: 0 1rem;
}

.popup-intro > article{
  min-width: 33%;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid 1px #c9c7c7;
}

.popup-intro>article:nth-child(2){
  border-left: none;
  border-right: none;
}

.popup-intro img{
  max-width: 100%;
}

.popup-intro .rate{
  width: 180px;
  height: auto;
}

.popup-intro .title-rate{
  font-size: 1rem;
  margin: 0rem 0 1rem 0;
}

.popup-intro .info-rate{
  font-size: .75rem;
  color: #333;
  margin-top: .75rem;
}

.popup-intro .control{
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.popup-intro .control p{
  margin-top: 0;
  color: #333;
  font-size: .75rem;
}

.popup-intro .control a{
  color: #0073ff;
  font-size: .8rem;
  position: absolute;
  bottom: 1rem;
  font-weight: 600;
}





.popup-filters {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5rem 1.5rem;
}

.popup-filters h4,
.popup-reviews h4{
  margin: 0 0 1rem 0;
  font-weight: 600;
  color: #111;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-item input[type="checkbox"] {
  margin-left:0.25rem;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.filter-item label {
  font-size: .75rem;
  padding: 0 1rem;
  color: #333;
}

.progress-bar {
  flex: 2;
  background-color: #e0e0e0;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0rem 1.5rem 0rem .5rem;
  height: .6rem;
}

.progress {
  background-color: #007bff;
  height: 100%;
}

.review-count {
  text-align: right;
  color: #666;
  font-size: .75rem;
}

.review-filters button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
}



.review-filters button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
}

.star-head{
  display: flex;
  align-items: center;
}

.star-head .rate{
  margin-left: .5rem;
  font-weight: 600;
  color: #222;
  letter-spacing: .5px;
}

.star-head .rate b{
  color: #0073ff;
  font-size: 1.25rem;
  font-weight: 500;
}

.stars{
  display: flex;
}

.stars-item {
  --star-bg-size: 24px;
  --rating-item-percent: 0;
  align-items: center;
  background: url('https://www.avis-verifies.com/build/images/icon-star.ec71a912.svg') center 45%, linear-gradient(0deg, rgba(0, 115, 255, .5), rgba(0, 115, 255, .5)), linear-gradient(0deg, #0073ff, #0073ff);
  background-repeat: no-repeat;
  background-size: var(--star-bg-size), 100% 100%, var(--rating-item-percent) 100%;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  margin-right: 0.2rem;
}

.stars-item.full{
  background-color: #0073ff
}





.popup-reviews{
  background-color: white;
  padding: 1rem 1rem;
}

.popup-reviews ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-reviews li {
  margin-bottom: .75rem;
  width: 100%;
  text-align: left;
  border: solid 1px #dfdfdf;
  padding: 1rem;
}

.popup-reviews p{
  font-size: .9rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.popup-reviews span.review-info{
  font-size: .75rem;
  color: #666;
}

.popup-reviews span.review-info b{
  color: #333;
}


.popup-content .pagination{
  margin: 0 0 3rem 0;
  background-color: white;
  padding: 1.25rem 0 2rem 0;
  text-align: center;
  position: relative;
}

.popup-content .pagination .notice{
  position: absolute;
  top: -1.5rem;
  font-size: .75rem;
}

.popup-content .pagination button {
  margin: 0 0.3125rem;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
  width: auto;
  border-color: #666;
  width: 30px;
}

.popup-content .pagination .active {
  font-weight: bold;
  text-decoration: underline;
}

.popup-content .pagination input{
  height: 30px;
  width: 40px;
  text-align: center;
  padding-left: 15px;
  border-radius: 4px;
  border:solid 1px grey;
}

.popup-content .pagination i{
  font-size: .75rem;
  padding: 0;
  position: relative;
  top: -1px;
  color: #333;
}

.popup-content .pagination i.fa-chevron-left{
  left:-1px;
}

.popup-content .pagination i.fa-chevron-right {
  right: -1px;
}

.popup-content .pagination .page,
.popup-content .pagination .total-page{
  width: auto;
  font-size: .9rem;
  color: #666;
}

.popup-content .pagination .page {
  margin-left: .5rem;
}

.popup-content .pagination .total-page {
  margin-right: .5rem;
}


.review-copyright{
  text-align: center;
  margin: 0 0 2rem 0;
  font-size: .9rem;
  color: #111;
}

.review-copyright a{
  color: #0073ff;
  font-weight: 600;
}



@media (max-width:1024px){
  .badge-container>img{
    width: 7rem;
  }

  .popup-content{
    padding: 1rem;
    margin: 2rem;
    height: 92vh;
  }

  .close-popup{
    background-color: white;
    color: #000;
    top: .5rem;
    right: .5rem;
  }

  .popup-header{
    justify-content: flex-start;
    padding-bottom: 0;
  }

  .popup-header button,
  .popup-header span{
    display: none;
  }

  .popup-header .logo{
    position: static;
    width: 100px;
  }

  .popup-breadcrumb{
    padding-bottom: 1rem;
  }

  .breadcrumb-item{
    font-size: .75rem;
  }

  .breadcrumb-item:not(:last-child)+.breadcrumb-item:before{
    margin: 0;
  }

  .popup-intro{
    flex-direction: column;
  }

  .popup-intro article{
    border-width:0 0 1px 0;
    padding: 1rem 0;
  }

  .popup-intro img{
    width: 180px;
  }

  .popup-filters {
    padding: 1rem;
  }

  .popup-reviews {
    padding-top: 0rem ;
  }

  .stars-item{
    transform: scale(.8);
    margin-right: 0;
    
  }
}